data_input/assemblies/*.gz
data_input/assemblies/*.fasta
data_input/assemblies/*.fasta.*
data_input/reads/*.gz
data_input/reads/*.fasta
data_input/reads/*.fasta.*
data_output/
logs/*.log
logs/*/*.log
cluster_logs/*.log
cluster_logs/*.err
.snakemake/
benchmarks/
